<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an account | CatSocial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='createAccount.css') }}">
</head>
<body>
<form method="POST" novalidate onsubmit=" return validateForm()" enctype="multipart/form-data">

    <h2>Create Account</h2>
    <p class="accountInfo">Already have an account? <a href="/login">Sign in</a></p>


    <input type="text" id="cat_name" name="cat_name" placeholder="Cat's Name">

    <br>


    <input type="text" id="uname" name="uname" placeholder="Username">

    <br>


    <input type="password" id="psswd" name="psswd" placeholder="Password">

    <br>


    <input type="password" id="psswdC" name="psswdC" placeholder="Confirm Password">

    <br>

    <label for="profilePic"> Upload profile picture (of your cat)</label>
    <input type="file" id="profilePic" name="profilePic">

    <br>
    <input type="submit" value="Sign Up">
</form>


 {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    var flashMessages = {{ messages | tojson | safe }};
                    for (var i = 0; i < flashMessages.length; i++) {
                        alert(flashMessages[i]); // remove the message prepend
                    }
                </script>
            {% endif %}
        {% endwith %}


</body>

<script>
    //Make sure that passwords match before allowing form to be submitted
    //TODO: Require additional layer of validation on server side
    function validateForm()
    {
        //alert("passwords do not match");
        return true
    }
</script>
</html>