<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to CatSocial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginPage.css') }}">
</head>
<body>
    <form method="POST">
        <h2>Hey There Stranger</h2>
         <p class="accountInfo">Don't have an account? <a href="/createAccount">Sign up</a></p>
        <br>
        <input type="text" id="uname" name="uname" placeholder="Username">
        <br>
        <input type="password" id="psswd" name="psswd" placeholder="password">
        <br>
        <input type="submit" value="Login">

    </form>
</body>
</html>